// Color palette

$color-orange-light: #f99d22;
$color-orange-mid: #e76127;
$color-orange-dark: #dc4128;
$color-orange-gradient-start: $color-orange-mid;
$color-orange-gradient-end: #f99d1c;

$color-teal-light: #47c0bb;
$color-teal-mid: #006880;
$color-teal-dark: #004750;
$color-teal-gradient-start: $color-teal-mid;
$color-teal-gradient-end: #009bbf;

$color-gold-light: #fddc3f;
$color-gold-mid: #ffc60b;
$color-gold-dark: #f99d22;
$color-gold-gradient-start: $color-gold-mid;
$color-gold-gradient-end: #ffde2f;

$color-green-light: #c3db6e;
$color-green-mid: #95c93d;
$color-green-dark: #4a8c40;
$color-green-gradient-start: $color-green-mid;
$color-green-gradient-end: #cbdb2a;

$color-blue-light: #a3dce9;
$color-blue-mid: #48c1e1;
$color-blue-dark: #0094c9;
$color-blue-gradient-start: $color-blue-mid;
$color-blue-gradient-end: #a0dbe7;

$color-pink-light: #e36385;
$color-pink-mid: #d41a69;
$color-pink-dark: #951a4a;
$color-pink-gradient-start: $color-pink-mid;
$color-pink-gradient-end: #ee3e80;

$color-navy-mid: #0b3c61;
$color-pink-gradient-start: $color-navy-mid;
$color-pink-gradient-end: #005da0;

$color-gray-light: #a7a9ac;
$color-gray-mid: #6d6e71;
