// Fonts

@font-face {
	font-family: 'Avenir';
	font-weight: 400;
	src: url('../fonts/AvenirLTStd-Light.woff') format('woff'),
	url('../fonts/AvenirLTStd-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Avenir';
	font-weight: 400;
	font-style: italic;
	src: url('../fonts/AvenirLTStd-LightOblique.woff') format('woff'),
		url('../fonts/AvenirLTStd-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Avenir';
	font-weight: 500;
	src: url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
		url('../fonts/AvenirLTStd-Roman.ttf') format('truetype');
}

@font-face {
	font-family: 'Avenir';
	font-weight: 500;
	font-style: italic;
	src: url('../fonts/AvenirLTStd-Oblique.woff') format('woff'),
		url('../fonts/AvenirLTStd-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Avenir';
	font-weight: 700;
	src: url('../fonts/AvenirLTStd-Heavy.woff') format('woff'),
		url('../fonts/AvenirLTStd-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Avenir';
	font-weight: 700;
	font-style: italic;
	src: url('../fonts/AvenirLTStd-HeavyOblique.woff') format('woff'),
		url('../fonts/AvenirLTStd-HeavyOblique.ttf') format('truetype');
}
