// Styling for site footer
@use 'variables' as *;
@use 'mixins' as *;

#site-footer {
	padding: 20px 10px;
	box-sizing: border-box;
	font-size: 12px;
	text-align: center;
	color: $subtle-gray;
	// The image link which points to the InterVarsity Christian Fellowship/USA
	// website
	.ivcf-link {
		// Enusre that link takes on width and height of inner image
		display: inline-block;
		margin: 3px 0;
	}
	.ivcf-image {
		max-width: 200px;
	}
}

// The top-level site navigation is also displayed in the footer for convenience
// (but without submenus)
#site-footer-nav-list {
	margin: 0;
	margin-bottom: 10px;
	a {
		padding: 0 8px;
	}
	li {
		display: inline-block;
		// Separate individual navigation links with a pipe
		&:after {
			content: '|';
		}
		&:last-child:after {
			content: '';
		}
	}
}

// Decrease height of custom footer content because of smaller font size
#site-footer-content {
	line-height: 1.5em;
	p {
		margin: 0;
	}
}
