// Styling for all form elements

#{$input-button},
#{$input-text} {
	display: inline-block;
	-webkit-appearance: none;
	margin: 0;
	padding: $input-padding-y $input-padding-x;
	box-sizing: border-box;
	font-family: inherit;
	font-weight: inherit;
	font-size: 100%;
	color: $color-gray-mid;
	line-height: normal;
	vertical-align: middle;
}

#{$input-button} {
	border-style: solid;
	border-width: $input-border-width;
	border-color: $color-orange-mid;
	background-color: $color-orange-mid;
	text-align: center;
	transition: all $transition-duration $transition-easing;
	transition-property: background-color;
	color: #fff;
	&:hover {
		color: #fff;
	}
	&:focus {
		outline-width: 0;
		border-color: $color-orange-light;
		background-color: $color-orange-light;
	}
	&.button-small {
		padding: 4px 6px;
		font-size: 11px;
	}
}

// Inputs
#{$input-text} {
	border-style: solid;
	border-width: $input-border-width;
	border-color: $box-border-color;
	border-radius: 2px;
	background-color: #fff;
	transition: all ($transition-duration / 2) $transition-easing;
	transition-property: border-color, background-color, box-shadow;
	box-shadow: none;
	&:focus {
		outline-width: 0;
		border-color: $color-orange-mid;
		box-shadow: 0 0 3px 1px $color-orange-light;
	}
}

// Strip all browser styling for search inputs
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
	width: 100%;
}

.searchform {
	display: inline-block;
	cursor: default;
}
.search-field {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}


$search-icon-size: 15px;
$search-icon-padding: 7px;

.search-icon {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: (($search-icon-padding + $input-padding-x) / 2) + $input-border-width + 1px;
	margin-top: -($search-icon-size / 2) - 1;
	width: $search-icon-size;
	height: $search-icon-size;
	line-height: $search-icon-size;
	transition: all $transition-duration $transition-easing;
	transition-property: transform, color;
}

input.search {
	width: 200px;
	padding-left: $search-icon-size + $search-icon-padding + $input-padding-x;
}

// Add margin-bottom on the page's search field and search submit button so that
// some space separates the field and the button when the form collapses
#content {
	.search-field,
	input.searchsubmit {
		margin-bottom: 10px;
	}
}

// Search query
.search-query {
	font-style: italic;
}

// Center text within passowrd-protected post forms
form.post-password-form {
	text-align: center;
}
