// Styling for page header

// Page header containing both the page title and navigational breadcrumb links
#page-header {
	width: 100%;
	border-top: solid 1px $color-teal-mid;
	padding: 15px 20px;
	box-sizing: border-box;
	background-color: $box-background-color;
	box-shadow: none;
	@include layout(hybrid) {
		padding: 10px 12px;
	}
	h2 {
		margin: 0;
		text-align: left;
		@include layout(compact) {
			font-size: 22px;
		}
	}
}
// Container for the navigational breadcrumbs that indicate the page's hierarchy
// on the site
#page-breadcrumbs {
	font-size: 13px;
	text-shadow: none;
	vertical-align: middle;
	cursor: default;
	@include layout(hybrid) {
		text-align: left;
	}
}
// Delimiters which separate indibidual breadcrumb links
.page-breadcrumb-delimiter {
	display: inline-block;
	padding: 0 5px;
	$delimiter-size: 10px;
	width: $delimiter-size;
	height: $delimiter-size;
	line-height: $delimiter-size;
	vertical-align: middle;
}
