// Styling for site navigation within site header

// Site navigation control for hybrid layout
#nav-control-responsive {
	display: none;
	width: $nav-control-size;
	height: $nav-control-size;
	margin: 0;
	padding: $nav-control-padding-y $nav-control-padding-x;
	border-width: 0;
	border-radius: 0;
	box-sizing: content-box;
	background: none;
	font-size: $nav-control-size;
	line-height: $nav-control-size;
	transition: padding $transition-duration $transition-easing;
	color: $color-teal-mid;
	cursor: default;
	@include layout(hybrid) {
		display: block;
	}
	// For very conmpact )i.e. 320px width) screens, minimize control padding
	@include layout(very-compact) {
		.site-header-search-active & {
			padding-left: $nav-control-very-compact-padding-left;
			padding-right: 0;
		}
	}
}

// Site navigation
#site-header-nav {
	flex-grow: 1;
	// All navigation links
	ul a {
		display: block;
		box-sizing: border-box;
		text-align: left;
		font-size: 14px;
		white-space: nowrap;
		color: $color-teal-mid;
	}
	// Top-level navigation menu
	& > ul {
		a {
			padding: 0 15px;
			padding-top: 9px;
			padding-bottom: 4px;
		}
		// Top-level menu converts to popover menu for hybrid layout
		@include layout(hybrid) {
			@include floating-menu();
			@include panel-arrow(top, 21px);
			margin-left: 4px;
			transition-delay: 0s;
			.site-header-nav-open &,
			 {
				@include transition-fade-in();
			}
			li {
				background-color: $panel-background-color;
			}
			a {
				padding: 10px $nav-control-padding-x;
				color: #fff;
			}
		}
		// Padding of nav control is reduced for very-compact layout; shift menu
		// arrow in accordance with reduced padding so arrow is still centered
		// underneath control
		@include layout(very-compact) {
			.site-header-search-active & {
				&:before,
				&:after {
					transform: translateX(-($nav-control-padding-x - $nav-control-very-compact-padding-left));
				}
			}
		}
	}
	// Navigation sub-menus
	.sub-menu {
		@include floating-menu();
		@include panel-arrow(top, 30px);
		text-align: left;
		li {
			background-color: $panel-background-color;
		}
		a {
			padding: 9px 15px;
			color: #fff;
		}
		// Reposition sub-menus for hybrid layout so they remain accessible
		@include layout(hybrid) {
			top: 0;
			left: 100%;
			margin-top: -$panel-border-width;
			margin-left: $tooltip-arrow-height + $panel-border-width;
			pointer-events: none;
			@include panel-arrow(left, 12px);
		}
	}
	// All sub-menus fade in when hovered over
	.menu-item:hover > .sub-menu,
	.sub-menu-open {
		pointer-events: auto;
		@include transition-fade-in();
		transition-delay: 0s;
	}
}

// The top-level list of nav links
#site-header-nav-list {
	& > li.menu-item-has-children {
		$arrow-height: 5px;
		margin-right: $arrow-height;
		& > a:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 50%;
			right: 0;
			border: solid $arrow-height transparent;
			border-top-color: $color-teal-mid;
			transition: border-color $transition-duration $transition-easing;
			vertical-align: middle;
		}
		& > a:hover:after {
			border-top-color: $color-blue-mid;
		}
		@include layout(hybrid) {
			margin-right: 0;
			& > a:after {
				display: none;
			}
		}
	}
}
