// Styling for slider added by InterVarsity plugin

// Container for a page slider; the InterVarsity theme and plugin both integrate
// with the Cyclone Slider 2 plugin
#page-slider {
    background: none;
	user-select: none;
	cursor: default;
    // Container for slides container and pager
	.cycloneslider {
		margin: 0;
	}
    // Add border below sliders container so that slides are visually separate
    // from other page content
	.cycloneslider-slides {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: $box-border-color;
        background-color: #000;
	}
	// Next/Previous slide controls
	.cycloneslider-prev,
	.cycloneslider-next {
		opacity: 1;
		border: solid 2px rgba(#000, 0.5);
		background-color: rgba(#fff, 0.75);
		color: rgba(#000, 0.5);
		box-shadow: none;
	}
    // The plugin by default gives a white background to individual slides;
    // remove it so that the background of the slide container shows (the
    // background is only noticeable when transitioning between slides)
	.cycloneslider-slide {
		background: none;
	}
	// Pager control allowing for random access to any slide
	.cycloneslider-pager {
        $pager-control-size: 12px;
        $pager-control-margin-y: 10px;
		position: static;
		height: $pager-control-size + ($pager-control-margin-y * 2);
		text-align: center;
		font-size: 0;
		// Pager dot corresponding to a single slide
		span {
			display: inline-block;
			width: $pager-control-size;
			height: $pager-control-size;
			margin: $pager-control-margin-y 8px;
			background-color: rgba(#000, 0.25);
			border-radius: 50%;
			box-shadow: none;
			transition: all $transition-duration $transition-easing;
			transition-property: background-color;
			// Do not show the single pager dot if only one slide exists
			&:only-child {
				visibility: hidden;
			}
		}
	}
}
