// Styling for slider added by InterVarsity plugin
@use 'variables' as *;
@use 'mixins' as *;

// Container for a page slider; the InterVarsity theme and plugin both integrate
// with the Cyclone Slider 2 plugin
#page-slider {
	background: none;
	user-select: none;
	cursor: default;
	// Container for slides container and pager
	.cycloneslider {
		margin: 0;
	}
	// Add border below sliders container so that slides are visually separate
	// from other page content
	.cycloneslider-slides {
		border-radius: 5px;
		overflow: hidden;
		@include layout(body-max) {
			border-radius: 0;
		}
	}
	// Next/Previous slide controls
	.cycloneslider-prev,
	.cycloneslider-next {
		display: inline-block;
		$control-size: 28px;
		width: $control-size;
		height: $control-size;
		opacity: 1;
		border: solid 2px rgba(#000, 0.75);
		border-radius: 50%;
		background-color: rgba(#fff, 0.75);
		background-image: none;
		box-shadow: none;
		.arrow {
			display: none;
		}
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: 15px;
		}
	}
	.cycloneslider-prev:before {
		right: 1px;
		background-image: url('../../icons/chevron-left.svg');
	}
	.cycloneslider-next:before {
		left: 1px;
		background-image: url('../../icons/chevron-right.svg');
	}
	// The plugin by default gives a white background to individual slides;
	// remove it so that the background of the slide container shows (the
	// background is only noticeable when transitioning between slides)
	.cycloneslider-slide {
		background: none;
	}
	// Pager control allowing for random access to any slide
	.cycloneslider-pager {
		$pager-control-size: 12px;
		$pager-control-margin-y: 10px;
		position: static;
		height: $pager-control-size + ($pager-control-margin-y * 2);
		text-align: center;
		font-size: 0;
		// Pager dot corresponding to a single slide
		span {
			display: inline-block;
			width: $pager-control-size;
			height: $pager-control-size;
			margin: $pager-control-margin-y 8px;
			background-color: rgba($color-gray-light, 0.5);
			border-radius: 50%;
			box-shadow: none;
			transition: all $transition-duration $transition-easing;
			transition-property: background-color;
			// Do not show the single pager dot if only one slide exists
			&:only-child {
				visibility: hidden;
			}
			// Pager dot for the current slide
			&.cycle-pager-active {
				background-color: $color-blue-mid;
			}
		}
	}
	// Optional caption (title and description) at the bottom of any slide
	.cycloneslider-caption {
		// Ensure that any slide link can still be clicked through the caption
		pointer-events: none;
		opacity: 1;
		background-color: rgba(#000, 0.6);
		@include layout(compact) {
			// Increase background contrast on smaller resolutions to keep the
			// text easy to read
			background: rgba(#000, 0.75);
		}
	}
	.cycloneslider-caption-title {
		@include layout(compact) {
			font-size: 16px;
		}
	}
	.cycloneslider-caption-description {
		padding-bottom: 10px;
	}
}
