// Styles for Customizer-configurable styles
// Styles consists mostly of colors, but aren't limited to such
@import 'variables';
@import 'mixins';

body {
	// The built-in background_color setting adds its own background-color
	// declaration; this declaration is merely a fallback
	background-color: #fff;
	font-family: 'iv-font-primary-family';
	font-weight: 'iv-font-primary-weight-normal';
}

h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 'iv-font-primary-weight-bold';
	color: $color-orange-mid;
}

strong,
.page-breadcrumb,
#sg-filter label,
.entry-label,
.wp-caption-text,
.gallery-caption,
.author-name,
.comment-reply-link,
.comment-edit-link {
	font-weight: 500;
}

a {
	color: $color-teal-mid;
	&:hover,
	#site-header-nav ul &:hover,
	#site-footer &:hover {
		color: $color-teal-light;
	}
}

blockquote {
	border-left-color: $color-teal-mid;
	&:after {
		color: $color-teal-light;
	}
}

#{$input-button} {
	font-family: 'iv-font-primary-family';
	font-weight: 400;
	background-color: $color-orange-mid;
	&:focus {
		outline-width: 0;
		background-color: $color-orange-light;
	}
}

#{$input-text},
#site-header-search .search {
	font-family: 'iv-font-primary-family';
	font-weight: 400;
	color: $color-gray-mid;
	&:focus {
		outline-width: 0;
		border-color: $color-orange-mid;
		box-shadow: 0 0 3px 1px $color-orange-light;
		& + .search-icon {
			color: $color-orange-mid;
		}
	}
}
// Page slider navigation dot for current slide
#page-slider .cycloneslider-pager span.cycle-pager-active {
	background-color: $color-blue-mid;
}

#home-boxes {
	.home-box-icon {
		background-color: $color-orange-mid;
	}
	a:hover .home-box-icon {
		background-color: $color-orange-light;
	}
}

.entry-tile .entry-header {
	background-color: $color-orange-mid;
}

.pagination {
	& > a {
		border-color: #fff;
		background-color: #fff;
		color: $color-orange-mid;
	}
	& > a:hover,
	& > span {
		background-color: $color-orange-mid;
		color: #fff;
	}
}

::selection {
	background-color: $color-orange-light;
	color: #fff;
}

.bypostauthor .comment-body {
	border-color: $color-orange-mid;
}

.pin-icon {
	color: $color-orange-light;
}

#site-header-nav a {
	font-weight: 500;
}

#site-header-nav > ul {
	@include layout(hybrid) {
		li {
			background-color: 'iv-color-background-body';
		}
		a {
			color: #fff;
		}
		&:after {
			border-bottom-color: 'iv-color-background-body';
		}
	}
}

#site-header-nav .sub-menu {
	li {
		background-color: $color-teal-mid;
	}
	a {
		padding: 9px 15px;
		color: #fff;
	}
	&:after {
		border-bottom-color: 'iv-color-background-body';
		@include layout(hybrid) {
			border-bottom-color: transparent;
			border-right-color: 'iv-color-background-body';
		}
	}
}

#site-header .tooltip {
	background-color: 'iv-color-background-body';
	&:after {
		border-bottom-color: 'iv-color-background-body';
	}
}
