// Styles for Customizer-configurable styles
// Styles are mostly font-related

body {
	// The built-in background_color setting adds its own background-color
	// declaration; this declaration is merely a fallback
	background-color: #fff;
	font-family: 'iv-font-primary-family';
	font-weight: 'iv-font-primary-weight-normal';
}

h1, h2, h3, h4, h5, h6,
strong,
.page-breadcrumb,
#sg-filter label,
.entry-label,
.wp-caption-text,
.gallery-caption,
.author-name,
.comment-reply-link,
.comment-edit-link {
	font-weight: 'iv-font-primary-weight-bold';
}
