// Styling for the content of the visual editor
@use 'variables' as *;
@use 'content' as *;

// Define accent color used for emphasis; this will ultimately be overridden by
// the user-chosen accent color on the frontend
$accent-color: $color-teal-mid;

body {
	color: $content-color;
}

a {
	color: $accent-color;
	text-decoration: underline;
}

blockquote {
	border-left-color: $accent-color;
}
