@font-face {
	font-family: 'intervarsity';
	src: url('../../fonts/intervarsity.eot');
	src: url('../../fonts/intervarsity.eot#iefix') format('embedded-opentype'),
		url('../../fonts/intervarsity.woff') format('woff'),
		url('../../fonts/intervarsity.ttf') format('truetype'),
		url('../../fonts/intervarsity.svg#intervarsity') format('svg');
	font-weight: normal;
	font-style: normal;
}

.iv-icon {
	// Ensure that custom fonts do not shift line height of icons
	font-family: sans-serif;
}

.iv-icon:before {
	font-family: 'intervarsity';
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;

	// For safety - reset parent styles that can break glyph codes
	font-variant: normal;
	text-transform: none;
	line-height: 1em;

	// Font smoothing. That was taken from TWBS
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.iv-icon-search:before { content: '\e800'; }
.iv-icon-list:before { content: '\e801'; }
.iv-icon-chevron-left:before { content: '\e802'; }
.iv-icon-chevron-right:before { content: '\e803'; }
.iv-icon-facebook:before { content: '\e804'; }
.iv-icon-twitter:before { content: '\e805'; }
.iv-icon-instagram:before { content: '\e806'; }
.iv-icon-mail:before { content: '\e807'; }
.iv-icon-book:before { content: '\e808'; }
.iv-icon-group:before { content: '\e809'; }
.iv-icon-globe:before { content: '\e80a'; }
.iv-icon-quote:before { content: '\e80b'; }
.iv-icon-cross:before { content: '\e80c'; }
.iv-icon-pin:before { content: '\e80d'; }
