// Styles for maintenance page created by WP Maintenance Mode
@import 'mixins';
@import 'variables';
@import 'content';

body {
	margin: 0 auto;
	color: $color-gray-mid;
}

.wrap {
	width: auto;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	h1, p {
		padding: 0 50px;
		text-align: left;
		@include layout(compact) {
			padding: 0 20px;
		}
	}
	h1 {
		width: auto;
		margin: 0;
		$padding-y: 15px;
		padding-top: $padding-y;
		padding-bottom: $padding-y;
		background-color: $color-orange-mid;
		font-family: sans-serif;
		font-family: inherit;
		font-weight: 400;
		font-size: 40px;
		color: #fff;
	}
	h2 {
		color: inherit;
	}
	p {
		margin: 1em 0;
		font-size: 20px;
		line-height: normal;
	}
	a,
	.contact_us,
	.author_link a {
		color: $color-blue-dark;
		font-size: 24px;
		text-decoration: underline;
		&:hover {
			color: $color-blue-mid;
		}
	}
}
